    
*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-rows: auto 80vh;
}


/*Parte de cima*/
.cima{
    background: #1E90FF;
    border-bottom: 3px solid white;
    text-align: center;
    display: inline;
}
.cima h2{
    margin-top: 3%;
    color:white;
    float: right;
    margin-right: 2%;
}
.cima h1{
    margin-top: 1%;
    margin-bottom: 3%;
    color:white;
    float: left;
    margin-right: 2%;
}

.cima span{
    font-size: 2em;
    font-weight: 800;
}
.cima a{
    text-decoration: none;
}
.cima .imagem{
    float: left;
    width: 5%;
    margin-left: 5%;
}
.cima img{
    width: 10%;
    margin-top: 1%;
    border-radius: 100%;
    float: right;
}
/*Parte de baixo*/
.baixo{
    display: grid;
    grid-template-columns: 20% 80%; 
}
.baixo1{
    display: grid;
    grid-template-columns: 3% 97%; 
}
/*Parte direita*/
.direita{
    display: grid;
    grid-template-rows: 8% 72% 20%;
    transition: all 500ms linear;
}
.titulo{
    background: #17a7c0;
}
.frame{
    background: yellow;
}
.rodape{
    background: #0ed145;
}

/*Parte Esquerda*/
.esquerda{
    background: #1E90FF;
    text-align: left;
    margin-right: 5%;
}
.esquerda1{
    background: #1E90FF;
    text-align: center;
    margin-right: 5%;
}
.btbotao{
    position:relative;
    width: 14%;
    height: 12%;
    left: 0;
    top:72%;
    cursor: pointer;
}
.btbotao span{
    display: block;
    width: 20%;
    height: 5px;
    background: white;
    margin: 3% 0;
}
.esquerda ul{
    list-style: none;
    margin-top: 12%;
}
.esquerda1 ul{
    list-style: none;
    margin-top: 20%;
}
.esquerda li{
    text-transform: uppercase;
    transition: all 500ms linear;
    width: 100%;
    cursor: pointer;
    border-bottom: 2px solid white;
    margin-top: 15%;
    padding-top: 0;
    padding-left: 3%;
    padding-bottom: 3%;
    font-size: 100%;
}
.esquerda1 li{
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    border-bottom: 2px solid white;
    margin-top: 50%;
    transition: all 500ms linear;
    padding-top: 0;
    padding-bottom: 3%;
    font-size: 100%;
}
.esquerda a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    margin-left: 3%;
}
.esquerda1 a{
    display: none;
}
.tamanho li{
    font-size: 3em;
}