*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.perfil1{
    display: grid;
    grid-template-columns:40% auto;
    flex-wrap: wrap;
    background: #DBDBDB;
    box-shadow: 0px 0px 20px rgba(0,0,0,.2);
    overflow: hidden;
}
/*Tabela*/
.tabela{
    display: flex;
    flex-direction: column;
    background: white;
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    padding: 3% 5%;
}
.tabela2{
    display: grid;
    background: white;
    width: 80%;
    margin-left: 5%;
    border-radius: 10px;
    padding: 2% 3%;
    grid-template-rows: auto auto;
}
.table{
    width: 100%;
    color:white;
    font-size: 1.1em;
    font-weight: 200;
}
.table th{
    background: #1E90FF;
}
/*Formulario*/
fieldset{
    border: none;
    border: 4px solid #1E90FF;
    padding: 5%;
}
legend{
    font-size: 1.5em;
    font-weight: 900;
}
fieldset input[type="button"]{
    margin-top: 4%;
    background: #1E90FF;
    border: none;
    border-radius: 60px;
    width: 20%;
    cursor: pointer;
    color: white;
    padding: 2% 3%;
    text-align: center;
    align-self: flex-end;
    font-size: 1.2em;
    font-weight: 400;
}
.form{
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left:2%;
    border-radius: 10px;
    padding: 3% 5%;
}
.form label{
    font-weight: 600;
}
:focus{
    outline: none;
}
input, select, textarea{
    width: 100%;
    border: none;
    padding: 2% 0px 1%;
    border-bottom: 3px solid #1E90FF;
    font-size: 1.1em;
    font-weight: 400;
}
button{
    margin-top: 4%;
    background: orange;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    padding: 2% 3%;
    text-align: center;
    align-self: flex-end;
    font-size: 1.2em;
    font-weight: 400; 
}
input[type="button"]{
    margin-top: 4%;
    background: #1E90FF;
    border: none;
    border-radius: 60px;
    width: 20%;
    cursor: pointer;
    color: white;
    padding: 2% 3%;
    text-align: center;
    align-self: flex-end;
    font-size: 1.2em;
    font-weight: 400; 
}
input[type="button"]:hover{
    background: #337186;
}
label{
    margin-top: 1%;
    font-weight: 600
}
h3{
    color:#1E90FF;
    margin: 2% auto;
}