#frame-j{
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.corpo{
    height: 100vh;
    display: grid;
    grid-template-rows:10% 85% 5%;
}
.corpo1{
    height: 100vh;
    display: grid;
    grid-template-rows:90% 10%;
}
.info{
    border-left: 2px solid black;
}
.perfil{
    display: grid;
    grid-template-columns:75% auto;
}
.tit{
    margin-top: 0;
    background: black;
    color:white;
    text-align: center;
}
.info table{
    margin: .6% auto;
    font-size: 2em;
}
.roda{
    background: black;
    color:white;
}
/*Lado da foto*/
.foto{
    height: 100%;
}
.escopo-img{
    margin: 20% auto;
    border: 2px solid black;
    width: 30%;
    height: 30%;
}
.escopo-bt{
    width: 100%;
    text-align: center;
}
.escopo-bt button{
    border-radius: 102px;
    background: #1E90FF;
    color: white;
    padding: 2% 3%;
    cursor: pointer;
}